[package]
name = "bankstown-lv2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
biquad = "0.4.2"
lv2 = "0.6.0"

[lib]
crate-type = ["cdylib"]
name = "bankstown"
